$text-primary: #403c49;
$text-secondary: #9fa2a6;
$background-primary: #fdfdfd;
$background-secondary: #f1f8fa;
$primary: #75cfb8;
$secondary: #142d4c;
$secondary-accent: #385170;
$background-light: #eceff3;
