@import "../../constants/colors";

.forgotPassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.forgotPassword > p {
  margin: 40px 0;
  color: $text-secondary;
  font-size: 16px;
}
.forgotPassword__field {
  width: 50%;
  margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {
  .forgotPassword__field {
    width: 90%;
  }
}
