@import "../../constants/colors";

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-secondary;
  height: 100vh;
  width: 100vw;
  color: $text-primary;
}
.notFound__nav {
  flex: 0.09765625;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 40px;
}
.notFound__body {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.notFound__body-left,
.notFound__body-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notFound__image {
  width: 90.2%;
}
.notFound__body h1 {
  font-size: 100px;
  margin-bottom: 50px;
}
.notFound__body p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {
  .notFound__nav {
    padding: 30px 20px 0;
    flex: 0.05;
  }
  .notFound__body {
    flex-direction: column;
  }
  .notFound__body-left {
    height: 30%;
  }
  .notFound__body-right {
    height: 70%;
    justify-content: flex-start;
  }
  .notFound__image {
    width: 80%;
  }
  .notFound__body h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .notFound__body p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
